[submodule "googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts
	branch = 2_1
